.pub-embed {
  margin-top: 0.5rem;
}
.pub-caption {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-top: 0.25rem;
}
a strong {
  color: inherit;
}
a {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}
a:hover {
  color: var(--link-hover-color);
}
